/*
Filename: select.css
Author: Ronald Markovich
Purpose: css for both html pages
Date: 12/4/2019
*/
.centerDiv{
  height: 100%;
  display: flex;
  align-items: top;
  justify-content: center;
}
label{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 350px;
  margin-bottom: 5px;
}
input{
  flex: 0 0 200px;
  margin-left: 10px;
}
