<!--
Filename: enter.html
Author: Ronald Markovich
Purpose: HTML to enter data into the checksheet
Date: 12/4/2019
-->
<link href="{{ url_for('static', filename='select.css') }}" rel="stylesheet" type="text/css"/>

<div class = "centerDiv">
<div>
  <ul>
    <li>
      A<br>
            <label>
            Compositon 100 level:<input type="text" name="A1"><br>
            </label>
            <label>
            Compositon 200 level:<input type="text" name="A2"><br>
            </label>
            <label>
            Speaking:<input type="text" name="A3"><br>
            </label>
            <label>
            Speaking/Writing:<input type="text" name="A4"><br>
            </label>
   </li>
    <li>
      B<br>
            <label>
            1:<input type="text" name="B1"><br>
            </label>
            <label>
            2:<input type="text" name="B2"><br>
            </label>
            <label>
            3:<input type="text" name="B3"><br>
            </label>

   </li>
    <li>
      C<br>
            <label>
            Scientific Inquiry:<input type="text" name="C1"><br>
            </label>
            <label>
            Quantitive Reasoning:<input type="text" name="C2"><br>
            </label>
            <label>
            Any course for C1/C2:<input type="text" name="C3"><br>
            </label>
   </li>
   <li>
     D<br>
           <label>
           1:<input type="text" name="D1"><br>
           </label>
           <label>
           2:<input type="text" name="D2"><br>
           </label>
           <label>
           3:<input type="text" name="D3"><br>
           </label>
  </li>
  </ul>
  </div>

  <div>
  <ul>
      <li>
        Required Courses<br>
              CSC 125: DISCRETE MATH FOR CS I<input type="checkbox" name="125" value = "DISCRETE MATH FOR CS I"><br>
              CSC 130: IT FUNDAMENTALS<input type="checkbox" name="130" value = "IT FUNDAMENTALS"><br>
              CSC 135: COMP SCI I<input type="checkbox" name="135" value = "COMP SCI I"><br>
              CSC 136: COMP SCI II<input type="checkbox" name="136" value = "COMP SCI II"><br>
              CSC 220: OO MULTIMEDIA PROG<input type="checkbox" name="220" value = "OO MULTIMEDIA PROG"><br>
              CSC 223: ADVANCED SCIENTIFIC PROG<input type="checkbox" name="223" value = "ADVANCED SCIENTIFIC PROG"><br>
              CSC 242: WEB PROGRAMMING<input type="checkbox" name="242" value = "WEB PROGRAMMING"><br>
              CSC 252: UNIX SCRIPTING AND ADMINISTRATION<input type="checkbox" name="252" value = "UNIX SCRIPTING AND ADMINISTRATION"><br>
              CSC 253: IT SYSTEMS <input type="checkbox" name="253" value = "IT SYSTEMS "><br>
              CSC 273: COMPUTING SYSTEMS INTEGRATION <input type="checkbox" name="273" value = "COMPUTING SYSTEMS INTEGRATION"><br>
              CSC 311: COMPUTER NETWORKS <input type="checkbox" name="311" value = "COMPUTER NETWORKS"><br>
              CSC 341: INFORMATION SECURITY <input type="checkbox" name="341" value = "INFORMATION SECURITY"><br>
              CSC 356: INTRODUCTION TO DATABASE SYS <input type="checkbox" name="356" value = "INTRODUCTION TO DATABASE SYS"><br>
              CSC 354: SOFTWARE ENGINEERING I <input type="checkbox" name="354" value = "SOFTWARE ENGINEERING I"><br>
              CSC 355: SOFTWARE ENGINEERING II <input type="checkbox" name="355" value = "SOFTWARE ENGINEERING II"><br>
              <br>

     </li>
      <li>
        CS Elective Courses<br>
              1:<input type="text" name="cs1"><br>
              2:<input type="text" name="cs2"><br>
              3:<input type="text" name="cs3"><br>
              4:<input type="text" name="cs4"><br>
              5:<input type="text" name="cs5"><br>
              6:<input type="text" name="cs6"><br>


    </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        Concomitant Courses<br>
        MAT 105: COLLEGE ALGEBRA<input type="checkbox" name="MAT 105" value = "COLLEGE ALGEBRA"><br>
        <br>
      </li>
      <li>
        Directed General Education<br>
        PHI 40: INTRO TO ETHICS(B)<input type="checkbox" name="PHI 40" value = "INTRO TO ETHICS"><br>
        MAT 140: APPLIED STATISTICS(C,2)<input type="checkbox" name="MAT 140" value = "APPLIED STATISTICS"><br>
        <br>
      </li>
      <li>
        Free Electives<br>
              1:<input type="text" name="cs1"><br>
              2:<input type="text" name="cs2"><br>
              3:<input type="text" name="cs3"><br>
              4:<input type="text" name="cs4"><br>
              5:<input type="text" name="cs5"><br>
              6:<input type="text" name="cs6"><br>
      </li
    </ul>
    Notes<br>
    <textarea rows="20" cols="50"></textarea>
  </div>
</div>
