<!--
Filename: select.html
Author: Ronald Markovich
Purpose: HTML to select a student
Date: 12/4/2019
-->
<link href="{{ url_for('static', filename='select.css') }}" rel="stylesheet" type="text/css"/>


<div class = "centerDiv">
<ul>
    <li>
       <div ><a href = /enter><p>Student 1</a></div>
   </li>
    <li>
      <div ><a href = /enter><p>Student 2</a></div>
   </li>
    <li>
      <div ><a href = /enter><p>Student 3</a></div>
   </li>
  </ul>
</div>
